

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    text-align: center;
    font-size: 32px;
    margin: 60px 0;
}
.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 40px 5% 0 5%;
}
.container .item {
    background-color: #999999;

}

.container .item span {
    float: right;
    font-size: 20px;
    font-weight: 700;
    padding: 4px 16px 8px 16px;
    border: black solid 2px;
    top: 0px;
    right: 0;
}
.container .item p {
    padding: 44px 5% 5% 5%;
    font-weight: 600;
}
.container .item span:after {
    content: "";
    clear: both;
    display: table;
}
.container .item:nth-child(1) span {
    background-color: #d59898;
}
.container .item:nth-child(2) span {
    background-color: #c14543;
}
.container .item:nth-child(3) span {
    background-color: #e5d198;
}

@media (min-width: 768px) and (max-width: 991px){
    .container {
        display: inherit;
    }
    
    .container .item:nth-child(1),
    .container .item:nth-child(2){
        width: 40%;
        float: left;
        margin: 0 5%;
    }
    .container .item:nth-child(3){
        float: left;
        margin: 40px 5%;
    }
    .container .item:nth-child(3) p {
        padding: 44px 2.5% 4% 2.5%;

    }
    .container .item:after {
        clear: both;
        content: "";
        display: table;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
@media(max-width: 767px){
    .container{
        display: inline-block;
    }
    .container .item {
        margin-top: 40px;
    }
}
